.App{
    box-sizing: border-box;
    position: fixed;
    top: 0.5%;
    left: 2%;
    right: 2%;
    background-color: rgb(35, 37, 44);
    padding-top: 5px;
    border: 2px solid yellow;
}


.MainBox{
    /* border: 5px solid green; */
    background-color: rgb(26, 27, 33);
    margin: 0 auto;
    width: 475px;
    height: 95vh;
    color: white;
}