*{
   text-decoration: none;
   box-sizing: border-box;
 
}
body::-webkit-scrollbar {
   width: 5px;               /* width of the entire scrollbar */
 }
 body::-webkit-scrollbar-track {
   background: black;        /* color of the tracking area */
 }
 body::-webkit-scrollbar-thumb {
   background-color: #F3BF99;    /* color of the scroll thumb */
   border-radius: 20px;       /* roundness of the scroll thumb */
 }
body{
   background-color: rgb(28, 28, 28);
   overflow-y: auto;

}